
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Header{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.HeaderItem { 
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.HeaderItem:hover:not(.current) {
    background-color: #111;
}
li {
    float: left;
  }
ul {
    background-color: #dddddd;
  }
.current {
    background-color: red ; 
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    height: 400px;
    background-color: aquamarine;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }


.hidden {
    display: none;
}
div{
    margin: auto;
    padding: 10px;
}

.slideshow {
    width: 900px;

}
div img{
    width: 900px;
  }



/* slideshow .slide.active {
    display: block;
  } */


/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 14%;
    border-radius: 3px 0 0 3px;  
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}